<template>
  <div id="about">
      <div class="row">
         <div class="three columns">
            <img class="profile-pic"  :src="img_path+main.image" alt="" />
         </div>
         <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>{{main.bio}} 
            </p>
            <div class="row">
               <div class="columns contact-details">
                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>{{main.name}}</span><br />
						   <span>{{main.address.street}}<br />
						         {{main.address.city}}, {{main.address.state}} {{main.address.zip}}
                     </span><br />
						   <span>{{main.address.phone}}</span><br />
                     <span>{{main.address.email}}</span>
					   </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
export default {
  name: "about",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      img_path: "../static/images/"
    };
  },
  props: ['main']
};
</script>

