<template id="index">
    <div>
        <about :main="resumeData.main"></about>
        <portfolio :portfolio="resumeData.portfolio.projects"></portfolio>
        <resume :resume="resumeData.resume"></resume>
    </div>
</template>

<script>

import about from "./about";
import portfolio from "./portfolio";
import resume from "./resume";

export default {
  name: "index",
  data() {
    return {
      msg: "index"
    };
  },
  components: { about, portfolio, resume },
  props:['resumeData']
};
</script>