<template>
  <section id="portfolio">
      <div class="row">
         <div class="twelve columns collapsed">
            <h1>Check Out Some of My Works.</h1>
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
               <div v-for="(project, index) in portfolio" :class="'columns portfolio-item'" :key="index">
                  <div class="item-wrap">
                     <a :href="project.url" :alt="project.title">
                        <img alt="" :src="image_path + project.image" />
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					          <h5>{{project.title}}</h5>
                              <p>{{project.category}}</p>
          					      </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>

            </div>
         </div>
      </div>
   </section>
</template>
<script>
export default {
  name: "portfolio",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      image_path: "../static/images/"
    };
  },
  props: ['portfolio']
};
</script>