<template>
  <section id="resume">
      <div class="row education">
         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>
         
         <div class="nine columns main-col">
           <div v-for="(edu, index) in resume.education" :key="index" class="row item">
            <div class="twelve columns">
                <h3>{{edu.school}}</h3>
                <p class="info">{{edu.degree}} <span>&bull;</span> <em class="date">{{edu.graduated}}</em></p>
                <p>
                  {{edu.description}}
                </p>
            </div>
          </div>
         </div>
      </div>

      <div class="row work">
         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">
           <div v-for="(job, index) in resume.work" :key="index" class="row item">
            <div class="twelve columns">
                <h3>{{job.company}}</h3>
                <p class="info">{{job.title}}<span>&bull;</span> <em class="date">{{job.years}}</em></p>

                <p>
                {{job.description}}
                </p>
            </div>
          </div>
         </div>
      </div>

      <div class="row skill">
         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>
         <div class="nine columns main-col">
            <p></p>
				<div class="bars">
				   <ul class="skills">
					  <li v-for="(skill, index) in resume.skills" :key="index" >
              <span :style="'width:'+skill.level" :class="'bar-expand ' + skill.name"></span>
              <em>{{skill.name}}</em>
            </li>
					</ul>
				</div>
			</div>
      </div>
   </section>
</template>

<script>
export default {
  name: "resume",
  data() {
    return {
      msg: "resume"
    };
  },
  props:['resume']
};
</script>

