<template id="customerFooter">
      <footer>
            <div class="row">
                  <div class="twelve columns">
                        <ul class="copyright">
                        <li>&copy; Copyright 2014 CeeVee</li>
                        <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
                        </ul>
                  </div>
                  <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" @click="returnAnchor('#home')">
                              <i class="icon-up-open"></i>
                        </a>
                  </div>
            </div>
      </footer>
</template>
<script>
export default {
      name: "customerHeader",
      data() {
            return {
                  nav_hightlight: "portfolio"
            };
      },
      methods: {
            returnAnchor: function(goto) {
            var vm = this
            var hightlight_str
            document.querySelector(goto).scrollIntoView(true)
            hightlight_str = goto.replace('#', '');
            vm.nav_hightlight = hightlight_str
            }
      }
}
</script>
