<template id="customerHeader">
  <header id="home">
  
    <nav id="nav-wrap">
  
      <!-- <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
  
  	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a> -->
  
      <ul id="nav" class="nav">
  
        <li :class="nav_hightlight == 'home' ? 'current' : '' ">
          <a class="smoothscroll" @click="returnAnchor('#home')">Home</a>
        </li>
  
        <li :class="nav_hightlight == 'about' ? 'current' : '' ">
          <a class="smoothscroll" @click="returnAnchor('#about')">About</a>
        </li>
  
        <li :class="nav_hightlight == 'resume' ? 'current' : '' ">
          <a class="smoothscroll" @click="returnAnchor('#resume')">Resume</a>
        </li>
  
        <li :class="nav_hightlight == 'portfolio' ? 'current' : '' ">
          <a class="smoothscroll" @click="returnAnchor('#portfolio')">Projects</a>
        </li>
  
        <!-- <li><a class="smoothscroll" @click="returnAnchor('#testimonials')">Testimonials</a></li> -->
  
        <!-- <li><a class="smoothscroll" @click="returnAnchor('#contact')">Contact</a></li> -->
  
      </ul>
  
    </nav>
      <section id="home" class="row banner">
    
        <div class="banner-text">
    
          <h1 class="responsive-headline">Im {{resumeData.main.name}}.</h1>
    
          <h3>Im a {{resumeData.main.city}} based <span>{{resumeData.main.address.city}}</span> {{resumeData.main.description}}</h3>
    
          <hr />
    
          <ul class="social" >        
            <li v-for="(social, index) in resumeData.main.social" :key="index">
              <a :href="social.url">
                <i :class="social.className"></i>
              </a>
            </li>
          </ul>
    
        </div>
    
      </section>
    
      <p class="scrolldown">
    
        <a class="smoothscroll" @click="returnAnchor('#about')">
          <i class="icon-down-circle"></i>
        </a>
    
      </p>
  </header>
</template>
<script>
  export default {
    name: "customerHeader",
    data() {
      return {
        nav_hightlight: "home"
      };
    },
    methods: {
      returnAnchor: function(goto) {
        console.log(goto);
        var vm = this
        var hightlight_str
        document.querySelector(goto).scrollIntoView(true)
        hightlight_str = goto.replace('#', '');
        vm.nav_hightlight = hightlight_str
      }
    },
    props:['resumeData']
  
  };
</script>