<template>
    <section id="testimonials">
                <div class="text-container">
                    <div class="row">
                        <div class="two columns header-col">
                            <h1><span>Client Testimonials</span></h1>
                        </div>
                        <div class="ten columns flex-container">
                        </div>
                    </div>
                </div>
    </section>
</template>
<script>
export default {
  name: 'testimonials',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>


