
<template>
  <div id="app" class="App">
    <customerHeader :resumeData="resumeData"></customerHeader>
    <router-view :resumeData="resumeData"></router-view>
    <customerFooter></customerFooter>
  </div>
</template>

<script>
  import resumeData from '../static/json/resumeData.json';
  
  import '@/assets/js/jquery-1.10.2.min.js'
  import '@/assets/js/jquery-migrate-1.2.1.min.js'
  // import '@/assets/js/jquery.flexslider.js'
  import '@/assets/js/waypoints.js'
  import '@/assets/js/jquery.fittext.js'
  import '@/assets/js/magnific-popup.js'
  import '@/assets/js/init.js'
  
  import customerHeader from '@/components/common/header';
  import customerFooter from '@/components/common/footer';
  
  export default {
    name: 'App',
    data() {
      return {
        resumeData: resumeData
      }
    },
    components: {
      customerHeader,
      customerFooter
    }
  }
</script>

<style>
  /* @import 'assets/css/default.css';
  @import 'assets/css/layout.css'; */
  @import 'assets/css/default-layout.css';
  /* @import 'assets/css/media-queries.css';
  @import 'assets/css/magnific-popup.css'; */
</style>